 <!--navbar top in bootstrap -->

 
 
 <!-- Data table for patient entries -->
 <table datatable class="row-border hover">
    <thead>
      <tr>
        <th>Patient ID</th>
        <th>Patient name</th>
        <th>Registration Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Foo</td>
        <td>29/03/2022</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Someone</td>
        <td>30/05/2022</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Iamout</td>
        <td>22/2/2022</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Yoda</td>
        <td>27/05/2022</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Patrick</td>
        <td>24/03/2022</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Barack</td>
        <td>21/02/2022</td>
      </tr>
      <tr>
        <td>7</td>
        <td>François</td>
        <td>16/05/2022</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Michel</td>
        <td>16/05/2022</td>
      </tr>
      <tr>
        <td>9</td>
        <td>Chuck</td>
        <td>16/05/2022</td>
      </tr>
      <tr>
        <td>10</td>
        <td>Simon</td>
        <td>16/05/2022</td>
      </tr>
      <tr>
        <td>11</td>
        <td>Louis</td>
        <td>16/05/2022</td>
      </tr>
      <tr>
        <td>12</td>
        <td>Zelda</td>
        <td>16/05/2022</td>
      </tr>
    </tbody>
  </table>

  <!-- Div tag for reg_forms -->
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Patient Registration</h3>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Patient ID</label>
                <input type="text" class="form-control" id="exampleInputID" aria-describedby="emailHelp" placeholder="Enter Patient ID">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Patient Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter patient name">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Patient Age</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Patient's Age">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Registration Date</label>
                <input type="date" class="form-control" id="exampleInputPassword1" placeholder="Enter registration date">
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Select Patient Disease</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>Fever</option>
                  <option>Abdominal Pain</option>
                  <option>Fever</option>
                  <option>Typhoid</option>
                  <option>Diarohea</option>
                  <option>Maleria</option>
                  <option>Coughing</option>
                  <option>Cough</option>
                  <option>Abdominal Pain</option>
                  <option>Headaches</option>
                  <option>Allergies</option>
                  <option>cold and flu</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End of div tag for reg_forms -->


  <!-- form for expense calculation -->
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Patient Expense Calculation</h3>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Medicine Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter patient name">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Medicine Amount</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter patient name">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Test Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter patient name">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Test Amount</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter patient name">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Other charges</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter patient name">
              </div>
              <button type="submit" class="btn btn-primary">Generate Expense</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Expense Calculation form -->


