 <!-- Data table for patient entries -->

 <div class="container">

  <input type="text" name="search" placeholder="search here" style="width:500px" />
  <br>
  <br>
  <table datatable class="row-border hover" >
    <thead>
      <tr>
        <th>Patient ID</th>
        <th>Patient name</th>
        <th>Patient Age</th>
        <th>Registration Date</th>
        <th>Disease</th>
        <th>Tests</th>
        <th>Edit<span class="glyphicon glyphicon-pencil"></span></th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let p of Patient'>
        <td >{{p._id}}</td>
        <td>{{p.PatientName}}</td>
        <td>{{p.PatientAge}}</td>
        <td>{{p.RegistrationDate}}</td>
        <td>{{p.Disease}}</td>
        <td>{{p.Tests}}</td>
        <th>{{p.Edit}}<span class="glyphicon glyphicon-pencil"></span></th>
      </tr>
    </tbody>
  </table>
 </div>

 <!-- Create popup form in angular  -->
<div>

</div>
 
