.grid-container {
  margin: 10px;
}
body {
padding-left: 10px;
}

.column1 {
  border: 3px solid blue;
padding-top: 10px;
margin: 5px;

}
.column2 {
  border: 3px solid blue;

  padding-top: 10px;
  margin: 5px;
}
.column3 {
  border: 3px solid blue;

  padding-top: 10px;
  margin: 5px;
}