<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <mat-toolbar class="main"><b>MENU</b></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="dash()">Dashboard</a>
      <a mat-list-item (click)="reg()">Patient Registration</a>
      <a mat-list-item (click)="dis()">Patient Details</a>
      <a mat-list-item (click)="exp()">Expense Details</a>
      <a mat-list-item (click)="ex()">Expenses</a>
      <br>
      <button style="width:150px;"(click)="logout()">LOGOUT</button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
   
      <h1><b>HOSPITAL MANAGEMENT SYSTEM</b></h1>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      
   <hr>

   <div *ngIf="dashboard"><app-dashboard class="dashboard"></app-dashboard></div>
   <div *ngIf="registration"><app-patientregistrationform class="registration"></app-patientregistrationform></div>
   <div *ngIf="table"><app-table class="table"></app-table></div>
   <div *ngIf="expensedetail"><app-expensedetail class="expensedetail"></app-expensedetail></div>
   <div *ngIf="expense"><app-expense class="expense"></app-expense></div>

    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>