<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <mat-toolbar class="main"><b>MENU</b></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/registration">Patient Registration</a>
      <a mat-list-item href="#">Expenses</a>
      <a mat-list-item href="#">Patient Details</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
   
      <h1><b>HOSPITAL MANAGEMENT SYSTEM</b></h1>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      
   <hr>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
    <app-dashboard></app-dashboard>
  </mat-sidenav-content>
</mat-sidenav-container>