<!-- Div tag for forms -->
<div class="container">
  <div class="row">
   
     <h1 class="card-title">Patient Registration</h1>
        </div>
        <div class="card-body">
          <form class="cont"  #usersForm='ngForm' (ngSubmit)='saveuser(usersForm.value)' >
          
              <label for="exampleInputEmail1">Patient ID</label>
              <input type="text" ngModel name="_id" class="form-control" id="exampleInputID" aria-describedby="emailHelp" placeholder="Enter Patient ID">
           
       
              <label for="exampleInputEmail1">Patient Name</label>
              <input type="text" ngModel name="PatientName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter patient name">
           
            
              <label for="exampleInputEmail1">Patient Age</label>
              <input type="text" ngModel name="PatientAge" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Patient's Age">
          
            
              <label for="exampleInputPassword1">Registration Date</label>
              <input type="date" ngModel name="RegistrationDate" class="form-control" id="exampleInputPassword1" placeholder="Enter registration date">
        
           
              <label for="exampleFormControlSelect1">Select Patient Disease</label>
              <select class="form-control" id="exampleFormControlSelect1" ngModel name="Disease">
                <option>Select--</option>
                <option value="Abdominal Pain">Abdominal Pain</option>
                <option value="Typhoid">Typhoid</option>
                <option value="Diarrhea" >Diarrhea</option>
                <option value="Malaria">Malaria</option>
                <option value="Allergies">Allergies</option>
                <option value="Fever">Fever</option>
              </select>
              <label for="exampleFormControlSelect1">Select Patient Test</label>
              <select class="form-control" id="exampleFormControlSelect1" ngModel name="Test">
                <option >Select--</option>
                <option value="CT-Scan" >CT-Scan</option>
                <option value="Widal test">Widal test</option>
                <option value="Blood test">Blood Test</option>
                <option value="PCR">PCR</option>
                <option value="Dermial test">Dermial test</option>
               </select>
          <div class="button">
            <button type="submit" class="btn btn-primary">REGISTER</button>
          </div>
            
          </form>
        </div>
      </div>